In [12]:
from google.colab import drive

drive.mount('/content/drive')
file_path = "/content/drive/MyDrive/Colab Notebooks/online_retail.csv"

sales_data = pd.read_csv(file_path)
print(sales_data.head())

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

                InvoiceDate  UnitPrice  CustomerID         Country
0       2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1       2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2       2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3       2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4       2010-12-01 08:26:00       3.39     17850.0  United Kingdom
...                     ...        ...         ...             ...
541904  2011-12-09 12:50:00       0.85     12680.0          France
541905  2011-12-09 12:50:00       2.10     12680.0          France
541906  2011-12-09 12:50:00       4.15     12680.0          France
541907  2011-12-09 12:50:00       4.15     12680.0          France
541908  2011-12-09 12:50:00       4.95     12680.0          France

[541909 rows x 8 columns]

# Groupby

In [10]:
country_count = sales_data['Country'].value_counts()
print(country_count)

Country
United Kingdom          495478
Germany                   9495
France                    8557
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
USA                        291
Hong Kong                  288
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
Name: count, dtype: int64

In [13]:
country_group = sales_data.groupby('Country')['Quantity'].sum()
print(country_group)

Country
Australia                 83653
Austria                    4827
Bahrain                     260
Belgium                   23152
Brazil                      356
Canada                     2763
Channel Islands            9479
Cyprus                     6317
Czech Republic              592
Denmark                    8188
EIRE                     142637
European Community          497
Finland                   10666
France                   110480
Germany                  117448
Greece                     1556
Hong Kong                  4769
Iceland                    2458
Israel                     4353
Italy                      7999
Japan                     25218
Lebanon                     386
Lithuania                   652
Malta                       944
Netherlands              200128
Norway                    19247
Poland                     3653
Portugal                  16180
RSA                         352
Saudi Arabia                 75
Singapore                  5234
Spain                     26824
Sweden                    35637
Switzerland               30325
USA                        1034
United Arab Emirates        982
United Kingdom          4263829
Unspecified                3300
Name: Quantity, dtype: int64

In [16]:
country_group = sales_data.groupby('Country')['UnitPrice'].sum()
print(country_group)

Country
Australia                  4054.750
Austria                    1701.520
Bahrain                      86.570
Belgium                    7540.130
Brazil                      142.600
Canada                      910.580
Channel Islands            3738.550
Cyprus                     3920.070
Czech Republic               88.150
Denmark                    1266.950
EIRE                      48447.190
European Community          294.050
Finland                    3786.850
France                    43031.990
Germany                   37666.000
Greece                      713.290
Hong Kong                 12241.500
Iceland                     481.210
Israel                     1079.040
Italy                      3879.390
Japan                       814.860
Lebanon                     242.440
Lithuania                    99.440
Malta                       666.010
Netherlands                6492.550
Norway                     6529.060
Poland                     1422.270
Portugal                  13037.540
RSA                         248.100
Saudi Arabia                 24.110
Singapore                 25108.890
Spain                     12633.450
Sweden                     1806.830
Switzerland                6813.690
USA                         644.980
United Arab Emirates        229.890
United Kingdom          2245715.474
Unspecified                1204.010
Name: UnitPrice, dtype: float64

In [15]:
country_stats = sales_data.groupby('Country')['UnitPrice'].agg(['mean', 'min', 'max', 'sum'])
print(country_stats)

                            mean       min       max          sum
Country
Australia               3.220612      0.00    350.00     4054.750
Austria                 4.243192      0.12     40.00     1701.520
Bahrain                 4.556316      1.25     12.75       86.570
Belgium                 3.644335      0.12     39.95     7540.130
Brazil                  4.456250      0.85     10.95      142.600
Canada                  6.030331      0.10    550.94      910.580
Channel Islands         4.932124      0.19    293.00     3738.550
Cyprus                  6.302363      0.12    320.69     3920.070
Czech Republic          2.938333      0.29     40.00       88.150
Denmark                 3.256941      0.21     18.00     1266.950
EIRE                    5.911077      0.00   1917.00    48447.190
European Community      4.820492      0.55     18.00      294.050
Finland                 5.448705      0.12    275.60     3786.850
France                  5.028864      0.00   4161.06    43031.990
Germany                 3.966930      0.00    599.50    37666.000
Greece                  4.885548      0.14     50.00      713.290
Hong Kong              42.505208      0.21   2653.95    12241.500
Iceland                 2.644011      0.25     12.75      481.210
Israel                  3.633131      0.06    125.00     1079.040
Italy                   4.831121      0.12    300.00     3879.390
Japan                   2.276145      0.21     45.57      814.860
Lebanon                 5.387556      0.55     14.95      242.440
Lithuania               2.841143      1.25      5.95       99.440
Malta                   5.244173      0.19     65.00      666.010
Netherlands             2.738317      0.00    206.40     6492.550
Norway                  6.012026      0.00    700.00     6529.060
Poland                  4.170880      0.19     40.00     1422.270
Portugal                8.582976      0.12   1241.98    13037.540
RSA                     4.277586      0.00     14.95      248.100
Saudi Arabia            2.411000      0.42      5.49       24.110
Singapore             109.645808      0.19   3949.32    25108.890
Spain                   4.987544      0.00   1715.85    12633.450
Sweden                  3.910887      0.19     40.00     1806.830
Switzerland             3.403442      0.00     40.00     6813.690
USA                     2.216426      0.42     16.95      644.980
United Arab Emirates    3.380735      0.29     37.50      229.890
United Kingdom          4.532422 -11062.06  38970.00  2245715.474
Unspecified             2.699574      0.19     16.95     1204.010

In [17]:
#Hicimos una agrupacion de todos los paises, y luego dentro de cada pais tambien agrupamos el StockCode
country_stock_group = sales_data.groupby(['Country', 'StockCode'])['Quantity'].sum()
print(country_stock_group)

Country      StockCode
Australia    15036        600
             15056BL        3
             16161P       400
             16169E        25
             20665          6
                         ...
Unspecified  85180A         2
             85180B         1
             85212         12
             85213         12
             85227         10
Name: Quantity, Length: 19839, dtype: int64

In [21]:
#Calcular los ingresos totales (revenue) por país, multiplicando la cantidad de
# productos vendidos por el precio unitario, agrupando los datos por país (Country).

sales_data['Revenue'] = sales_data['Quantity'] * sales_data['UnitPrice']
revenue_per_country = sales_data.groupby('Country')['Revenue'].sum()
print(revenue_per_country)

Country
Australia                137077.270
Austria                   10154.320
Bahrain                     548.400
Belgium                   40910.960
Brazil                     1143.600
Canada                     3666.380
Channel Islands           20086.290
Cyprus                    12946.290
Czech Republic              707.720
Denmark                   18768.140
EIRE                     263276.820
European Community         1291.750
Finland                   22326.740
France                   197403.900
Germany                  221698.210
Greece                     4710.520
Hong Kong                 10117.040
Iceland                    4310.000
Israel                     7907.820
Italy                     16890.510
Japan                     35340.620
Lebanon                    1693.880
Lithuania                  1661.060
Malta                      2505.470
Netherlands              284661.540
Norway                    35163.460
Poland                     7213.140
Portugal                  29367.020
RSA                        1002.310
Saudi Arabia                131.170
Singapore                  9120.390
Spain                     54774.580
Sweden                    36595.910
Switzerland               56385.350
USA                        1730.920
United Arab Emirates       1902.280
United Kingdom          8187806.364
Unspecified                4749.790
Name: Revenue, dtype: float64

¿Cuál es el top 3 en mejores paises en ventas?

¿Cuál es el top 3 en peores paises en ventas?

In [23]:
#sales_per_country = sales_data.groupby('Country')['Quantity']* sales_data['UnitPrice']
print(revenue_per_country)

Country
Australia                137077.270
Austria                   10154.320
Bahrain                     548.400
Belgium                   40910.960
Brazil                     1143.600
Canada                     3666.380
Channel Islands           20086.290
Cyprus                    12946.290
Czech Republic              707.720
Denmark                   18768.140
EIRE                     263276.820
European Community         1291.750
Finland                   22326.740
France                   197403.900
Germany                  221698.210
Greece                     4710.520
Hong Kong                 10117.040
Iceland                    4310.000
Israel                     7907.820
Italy                     16890.510
Japan                     35340.620
Lebanon                    1693.880
Lithuania                  1661.060
Malta                      2505.470
Netherlands              284661.540
Norway                    35163.460
Poland                     7213.140
Portugal                  29367.020
RSA                        1002.310
Saudi Arabia                131.170
Singapore                  9120.390
Spain                     54774.580
Sweden                    36595.910
Switzerland               56385.350
USA                        1730.920
United Arab Emirates       1902.280
United Kingdom          8187806.364
Unspecified                4749.790
Name: Revenue, dtype: float64

In [25]:
# Top 3 countries by revenue
# La función SORT se utiliza para ordenar datos en una matriz o rango, ya sea en orden ascendente o descendente,
# sort(rango, columna_orden, es_ascendente, [columna_orden2, es_ascendente2, ...])

top_countries = revenue_per_country.sort_values(ascending=False).head(3)
print("Top 3 countries by revenue:")
print(top_countries)

# Bottom 3 countries by revenue
bottom_countries = revenue_per_country.sort_values(ascending=True).head(3)
print("\nBottom 3 countries by revenue:")
print(bottom_countries)

Top 3 countries by revenue:
Country
United Kingdom    8187806.364
Netherlands        284661.540
EIRE               263276.820
Name: Revenue, dtype: float64

Bottom 3 countries by revenue:
Country
Saudi Arabia      131.17
Bahrain           548.40
Czech Republic    707.72
Name: Revenue, dtype: float64